body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: flex-start; 
  height: 100vh;
  align-items: center;
  margin: 0;
  background:url('onça.png') no-repeat center center fixed; 
  background-size: cover;
  flex-direction: column; 
}

header {
    background: #d2b68a;
    color: #333;
   width: 100%;
    padding: 5px;
    text-align: center;
    position: sticky;
    height: 100px;
    
  
  
}
h1 {
  font-size: 1rem;
  margin: 80;
}

header h1 {
    margin: 2;
    font-size: 2rem;
}
.container {
    max-width: 800px;
    margin: 0 auto;
}

h2 {
    margin-bottom: 1rem;
}

.slider {
  position:sticky;
  width: 300px;
  height: 300px;
  
  overflow:hidden;
  border: 3px solid #d2b68a;
  background: #ffffff;
  margin-bottom: 30px; 
}


.slide {
  display: none;
  width: 300px;
  height: 300px;
  justify-content: center;
  align-items: center;
  background-color: #ddd;
}

.slide.active {
  display: flex;
}


.prev, .next {
  position: absolute;
  bottom: 10px;
  padding: 8px 12px;
  background-color: #d2b68a;
  color: rgb(255, 255, 255);
  border: none;
  cursor: pointer;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}


@media (max-width: 600px) {
  .slider {
    width: 100%;
    height: 300px; 
  }
  
  .slide {
    font-size: 18px;  
  }
  
  .prev, .next {
    padding: 6px 10px;  
  }
}



