* {
    MARGIN: 0;
    PADDING: 0;
    BOX-SIZING: BORDER-BOX;
}
BODY{
    FONT-FAMILY: ARIAL, SANS-SERIF;
    LINE-HEIGHT: 1.6;
    BACKGROUND: #d5c5b0;
    
}


SECTION{
    PADDING: 2REM;
    MARGIN: 5REM;
    BACKGROUND: #a9824f;
    BOX-SHADOW: 0 4PX 8PX rgb(84, 57, 31);
}
.container{
    MAX-WIDTH: 100PX;
    MARGIN: 0 AUTO;
}
H2{
    MARGIN-BOTTOM: 1REM;
}

/*projetos*/
.cards {
    display: flex;
    gap: 4rem;
}

.card{
    background: #c5aa83;
    border-radius: 4px;
    padding: 1rem;
    width: 50%;
    box-shadow: 0 4px 8px rgb(82, 57, 21);
    transition: transform 0,3s ease, box-shadow 0.3 ease;
}
.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgb(69, 42, 0);

}


/*Footer*/
footer {
    background: #080500;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    bottom: 0;
    width: 100%;
}