body  {
    background: url('tela.inicio.png') no-repeat center center ;
    background-size: cover;
    background-position: 50%;

}
SECTION{
    PADDING: 2REM;
    MARGIN: 1REM;
    BACKGROUND: #e2dbdb;
    BORDER-RADIUS: 8PX;
    BOX-SHADOW: 0 4PX 8PX rgb(0, 0, 0);
}
.container{
    MAX-WIDTH: 100PX;
    MARGIN: 0 AUTO;
}

.cards {
    display: flex;
    gap: 1rem;
}
.card{
    background: #f4f4f4;
    border-radius: 8px;
    padding: 1rem;
    width: 100%;
    box-shadow: 0 4px 8px rgb(17, 16, 16);
    transition: transform 0,3s ease, box-shadow 0.3 ease;
}
.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgb(253, 191, 245);

}
footer {
    background-color: #333030; 
    padding: 40px 20px;
    color: #fff; 
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
  }

