body  {
    background: url('tela.inicio.png') no-repeat center center;
    background-size: cover;
}
SECTION{
    PADDING: 2REM;
    MARGIN: 1REM;
    BACKGROUND: #e2dbdb;
    BORDER-RADIUS: 8PX;
    BOX-SHADOW: 0 4PX 8PX rgb(0, 0, 0);
}
.container{
    MAX-WIDTH: 100PX;
    MARGIN: 0 AUTO;
}
footer {
    background-color: #2c5220; 
    padding: 40px 20px;
    color: #fff; 
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
  }